* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.user-list {
    border: 1px dashed red;
    margin-bottom: 1rem;
    padding: 1rem;
}

.post-list {
    border: 1px dashed green;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: baseline;
    gap: 1rem;
}

.postID{
    border: 1px dashed blue;
    min-width: 500;
}

#ul:hover {
    transition: all 0.25s;
    background-color: yellow;
}

.postID:hover {
    transition: all 0.25s;
    background-color: red;
}